body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c1c1c; 
    color: #f0f0f0;
}

header {
    background-color: #111;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 98%;
    top: 0;
    z-index: 100;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

nav a {
    color: #f0f0f0;
    text-decoration: none;
    font-weight: bold;
}


.menu {
    display: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}


.inicio {

    background: linear-gradient(to bottom, #111, #444);
    text-align: center;
    padding: 6rem 2rem;
    color: white;
    padding-bottom: 8px;
}

.inicio .contacto {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 2rem;
    background-color: #9f0e29;
    color: white;
    text-decoration: none;
    border-radius: 5px;
   
}


.servicios {
    
    text-align: center;
    padding: 4rem 2rem;
    background-color: #2c2c2c;
}
.container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.imagen1 {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    

}
.service {
    background: #3e3e3e;
    padding: 2rem;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.imagen2 {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.imagen3 {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.imagen4 {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.filosofia{
    text-align: center;
    padding: 4rem 2rem;
    background-color: #555;
}


.contacto{
  
    padding: 4rem 2rem;
    background-color: #9f0e29;;
    color: white;
}

.contacto input,
.contacto textarea {
    width: 60%;
    padding: 1rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 5px;
}

.contacto button {
    
    width: 63%;
    background-color: #580522;;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #111;
    color: white;
}


@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        background: #8b8383;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        text-align: center;
    }

    nav ul.active {
        display: flex;
    }

    .cosquillas {
        display: block;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .service {
        width: 80%;
    }

    .contact input, .contact textarea {
        width: 100%;
    }
}
